<section class='home-page-content container'>
    <div class='front-site-quickinfo'>
        <h1 class="front-site-quickinfo__companyname-header inline-block">Esafix Oy</h1>
        <p class="confidence-lipsum inline-block">Luotettavaa tulostinhuoltoa jo vuodesta 1974</p>
        <div class="well">Esafix on tulostinten, kopiokoneiden ja faxien huoltoon erikoistunut liike. Huollon lisäksi palveluihimme kuuluu eri laitteiden myynti – uutena ja käytettynä.</div>
    </div>
    
    <section class="front-site-badge-holder">
        <a class="front-site-info-badge"><span class='icon-print icon'></span><span class='info-badge-text'>Tutustu tuotteisiimme</span></a>
        <a class="front-site-info-badge"><span class="icon-wrench icon"></span><span class='info-badge-text'>Huoltoinfo</span></a>
        <a class="front-site-info-badge"><span class="icon-info-sign icon"></span><span class='info-badge-text'>Yhteystiedot</span></a>
    </section>

</section>