

$base-green: #519251;
$base-blue: #2C4985;
$base-black: #111111;
$slight-grey: #F7F7F7;

.no-link-decoration {
	text-decoration: none;
	* {
		color: inherit;
		text-decoration: none;
	}
}
.inline-block {
    display: inline-block;
}
.block {
	display: block;
}
.truncate-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.center-absolutely {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.pure-button{
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
	@extend .no-link-decoration;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}