
.products-header {
	margin-bottom: 0;
	padding: 5px;
	border-radius: 2px;
	background-color: $base-green;
	color: #fff;
}
.product-link_to_add {
	vertical-align: bottom;
	margin-top: 10px;
}
.product-list {
	padding: 0;
	list-style: none;
	.single-product {
		min-width: 250px;
		width: 30%;
		height: 250px;
		display: inline-block;
		overflow: hidden;
		padding: 5px;
		.product-name {
			font-weight: bold;
		}
		.product-picture { 
			float: none;
			max-height: 106px;
			width: 100%;
			text-align: center;
			.product-image {
				float: none;
			}
		}
		.product-description {
			max-height: 50px;
		}
	}
}

.single-product {
	position: relative;
    margin-bottom: 10px;
    padding: 5px 5px 40px;
	min-height: 250px;
	border: 1px solid $base-blue;
	background-color: $slight-grey;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

	.product-inforow {
		padding: 5px;
		.row-label {
			font-weight: bold;
		}
	}
	.product-description {
		border: 1px solid #e3e3e3;
		border-right: none;
		border-left: none;
	}
	.product-picture {
		float: right;
		overflow: hidden;
		max-width: 250px;
		max-height: 250px;
		background-color: inherit;
		.product-image {
			float: right;
		}
	}
	.product-image {
		max-height: 100%;
	}
	.single-product-buttons {
		position: absolute;
		bottom: 5px;
	}		
}

@media only screen 
and (max-width : 535px) {
	.product-list {
	    .single-product {
	    	width: 100%;
	    }
	}
}

@media only screen 
and (max-width : 600px) {
	.single-product {
	    .product-picture {
	        max-width: initial;
	        max-height: 200px;
	        width: 100%;
	        text-align: center;
	        .product-image {
				float: none;
	        }
	    }
	}
}