// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255); // Old browsers
    //@include filter-gradient(#ffffff, #f5f5f5, vertical); // IE6-9
    //@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%));
}
body {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1080px; 
    height: 100%;
    font-weight: 300;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    .nav-bar {
        background-color: $slight-grey;
    }
}

.front-site-quickinfo {
    //background-image: image-url('site_pictures/porvoonkatu.jpg');
    margin-bottom: 30px;
    padding: 0 10px 10px;
    border-radius: 6px;
    background-color: $slight-grey;
    color: inherit;
    font-size: 18px;
    line-height: 30px;

}
.front-site-quickinfo__companyname-header {
    margin-right: 5%;
    margin-bottom: 0;
    color: inherit;
    letter-spacing: -1px;
    font-size: 60px;
    line-height: 1;
}

.front-site-badge-holder {
    text-align: justify;
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
    }
}
.front-site-info-badge {
    @include single-transition(border-color, 250ms, ease-in);
    display: inline-block;
    margin-bottom: 10px;
    padding: 20px;
    width: 220px;
    height: 80px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    vertical-align: middle;
    text-align: center;
    position: relative;
    background-color: $slight-grey;
    //Koska teksti jakautuu kahdelle riville
    &:first-child {
        .info-badge-text {
            height: 35px;
        }
    }
    &:hover {
        border: 1px solid #6A7E93;
    }
    .icon,
    .info-badge-text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .icon {
        text-align: left;
        height: 30px;
        width: 80%;
        color: rgb(74, 136, 175);
        font-size: 30px;
    }
    .info-badge-text {
        width: 65%;
        height: 20px;
        margin-left: 60px;

    }
}

//Muuten Firman nimi jakautuu kahdelle riville
@media only screen 
and (max-width : 345px) {
    .front-site-quickinfo__companyname-header {
        font-size: 54px;
    }
}
//Tee badgeista 100% levyisiä kun ne ovat kaikki allekkain
@media only screen 
and (max-width : 475px) {
    .front-site-info-badge {
        width: 100%;
        text-align: center;
        &:first-child {
            .info-badge-text {
                height: 20px;
            }
        }
        .info-badge-text {
            width: 80%;
        }
    }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 702px) {
    .front-site-badge-holder {
        text-align: center;
    }
    .front-site-quickinfo {
        font-size: 16px;
    }
}
@media only screen 
and (min-width : 321px)
and (max-device-width : 480px) {
    .front-site-info-badge:first-child {
        margin-right: 10px;
    }
}
