<h1 class="products-header inline-block">Tuotteet</h1>
<!--
<button class="pure-button pure-button-primary product-link_to_add">
    <%= link_to 'Lisää uusi tuote', new_product_path %>
</button>
-->
<ul class='product-list'>
<% @products.each do |product| %>
    <li class="single-product">
        <div class="product-inforow product-picture">
            <img src="<%= product.picture_url %>" class='product-image' />
        </div>
        <div class="product-inforow product-name">
            <span><%= product.name %></span>
        </div>
        
        <div class="product-inforow product-manufacturer">
            <span><%= product.manufacturer %></span>
        </div>

        <div class="product-inforow product-description">
            <span><%= truncate(product.description, length: 66) %></span>
        </div>
        <div class="product-inforow product-price">
            <span><%= number_to_currency(product.price, unit: "&euro;", separator: ",", delimiter: "", format: "%n %u") %></span>
        </div>
        <div class="single-product-buttons">
            <!--
            <button class="pure-button pure-button-primary product-link_to_single">
                <%= link_to 'Näytä', product %>
            </button>
            <button class="pure-button pure-button-secondary product-website">
                <a href="<%= product.website_url %>">
                    Valmistajan sivut
                </a>
            </button>
            <!--
            <button class="pure-button pure-button-secondary product-link_to_edit">
                <%= link_to 'Muokkaa', edit_product_path(product) %>
            </button>
            <button class="pure-button pure-button-error product-link_to_remove">
                <%= link_to 'Poista', product, method: :delete, data: { confirm: 'Poista tuote?' } %>
            </button>-->
        </div>
    </li>
<% end %>
</ul>
