<p id="notice"><%= notice %></p>

<div class="single-product">
    <div class="product-inforow product-picture">
        <img src="<%= @product.picture_url %>" class='product-image' />
    </div>
    <div class="product-inforow product-manufacturer inline-block ">
        <span class='row-label'>Valmistaja:</span>
        <span><%= @product.manufacturer %></span>
    </div>
    <div class="product-inforow product-name inline-block">
        <span class='row-label'>Malli:</span>
        <span><%= @product.name %></span>
    </div>
    <div class="product-inforow product-description">
        <span class='row-label block'>Kuvaus</span>
        <span><%= truncate(@product.description, length: 250) %></span>
    </div>
    <div class="product-inforow product-price">
        <span class='row-label'>Hinta:</span>
        <span><%= number_to_currency(@product.price, unit: "&euro;", separator: ",", delimiter: "", format: "%n %u") %></span>
    </div>
    <div class="single-product-buttons">
        <button class="pure-button pure-button-secondary product-website">
            <a href="<%= @product.website_url %>">
                Valmistajan sivut
            </a>
        </button>
        <!--
        <button class="pure-button pure-button-secondary product-link_to_edit">
            <%= link_to 'Muokkaa', edit_product_path(@product) %>
        </button>
        <button class="pure-button pure-button-error product-link_to_remove">
            <%= link_to 'Poista', @product, method: :delete, data: { confirm: 'Poista tuote?' } %>
        </button>-->
    </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
