<div class="pure-menu pure-menu-open pure-menu-horizontal nav-bar">
  <%= link_to "Esafix Oy", root_path, :class => "pure-menu-heading" %>
  <ul>
    <li><%= link_to "Etusivu", root_path %></li>
    <li><%= link_to "Tuotteet", products_path %></li>
    <li><a href="#">Yhteystiedot</a></li>
  </ul>
</div>

