<!DOCTYPE html>
<html>
<head>
  <title>Esafix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<%= stylesheet_link_tag    "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", :media => "all" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css", :media => "all" %>-->
  <!--<%= stylesheet_link_tag    "pure-min.css", :media => "all" %>
  <%= stylesheet_link_tag    "font-awesome.min.css", :media => "all" %>-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>
    
    <%= javascript_include_tag "application" %>
</body>
</html>
